.button-options {
    padding: 70px 0 63px 0;
}

.button-options > button{
    min-width: 98px;
    height: 31px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
}

.button-options > button:hover,
.button-options > button:active,
.button-options > button:focus {
    border: solid 1px #1797ff;
}
