.test-header {
    width: 100vw;
    background: rgb(236,236,236);
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.App > header > img {
    padding-top: 44px;
    padding-bottom: 42px;
}

@media  (max-width: 900px) {
    .test-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}